.item-project{
  position: relative;

  .top{
    &:before{
      content: "";
      position: absolute;
      top: 24px;
      left: -12px;
      background-color: green;
      width: 4px;
      height: 70%;
      border-radius: 4px;
    }

    &:after{
      content: "";
      position: absolute;
      top: 12px;
      left: -13px;
      background-color: red;
      width: 6px;
      height: 6px;
      border-radius: 6px;
    }

    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .name, .role{
      font-weight: 500;
    }

    .org, .time{
      font-weight: 400;
      color: #666;
    }
  }

  .detail{
    font-weight: 400;
    
    .content{
      color: #666;
    }
  }
}
