body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
}

@keyframes BackgroundAnimation {
  0%,
  100% {
    background-position: 0 7%;
  }
  50% {
    background-position: 100% 94%;
  }
}

.bg-light-mode {
  background: linear-gradient(
      136deg,
      rgb(68, 132, 206),
      rgb(26, 215, 192),
      rgb(255, 155, 17),
      rgb(155, 89, 182),
      rgb(255, 127, 127),
      rgb(236, 240, 241)
    )
    0% 0% / 1200% 1200%;
  animation: BackgroundAnimation 70s ease infinite;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  will-change: background-position;
}

.min-vh-100 {
  min-height: 100vh !important;
}
